{% extends 'base.html.twig' %}

{% block main %}

<br>
<h1>{{ video.title }}</h1>
<div align="center" class="embed-responsive embed-responsive-16by9">
    <iframe class="" src="{{ video.vimeoid(app.user) }}" frameborder="0" allowfullscreen></iframe>
</div>

<hr>

<div class="row m-2">
    <a id="video_comments"></a>

    {% for comment in video.comments %}

    <ul class="list-unstyled text-left">
        <li class="media">
            <img class="mr-3" src="{{ asset('assets/img/user.jpg') }}" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1"><b>{{ comment.user.name }} {{ comment.user.lastname }}</b> <small class="text-muted">added a comment <small><b>{{ comment.createdat|ago }}</b></small></small></h5>
                {{ comment.content }}
            </div>
        </li>
    </ul>
    <hr>

    {%  endfor %}

</div>

<div class="row">
    <div class="col-md-12">
        <form method="POST" action="{{ path('new_comment', {'video': video.id}) }}#video_comments">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Add a comment</label>
                <textarea name="comment" required class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>

        </form>
    </div>
</div>


{% endblock %}