{% if editedCategory.parent is defined and editedCategory.parent ==null %}
<option selected value="0">No Parent</option>
{% else %}
<option value="0">No Parent</option>
{% endif %}
{% for category in categories.categoryList %}
    {% if editedCategory.parent.getId() is defined and editedCategory.parent.getId() == category.id %}
        <option selected value="{{ category.id }}">{{ category.name }}</option>
    {% else %}
        <option value="{{ category.id }}">{{ category.name }}</option>
    {% endif %}
{% endfor %}